<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bedMapper">
	<!-- 이미지 넣어놓기 -->
	<insert id="insertData" parameterType="com.funi.domain.FurnitureDTO">
		insert into bedroom (imageIndex, productName, cateE, cateK, price, saveFileName)
		values (#{imageIndex}, #{productName}, #{cateE}, #{cateK}, #{price}, #{saveFileName})
	</insert>
	<!-- 전체 데이터 -->
	<select id="bedimageList" resultType="com.funi.domain.FurnitureDTO">
		select imageIndex, productName, cateE, cateK, price, saveFileName from bedroom
		order by imageIndex desc
	</select>
	<!-- 카테고리 데이터 -->
	<select id="CateimageList" resultType="com.funi.domain.FurnitureDTO" parameterType="Map">
		select imageIndex, productName, cateE, cateK, price, saveFileName from bedroom
		where cateE=#{cateE} order by imageIndex desc
	</select>
	<!-- 한 개의 데이터 -->
	<select id="getReadData" resultType="com.funi.domain.FurnitureDTO" parameterType="Map">
		select  imageIndex, productName, cateE, cateK, price, saveFileName from bedroom where imageIndex=#{imageIndex} and cateE=#{cateE} 
	</select>
</mapper>

