<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="diningMapper">

<!-- 이미지와 DB등록 -->
<insert id="insertData" parameterType="com.funi.domain.FurnitureDTO"> 
	insert into diningroom (imageIndex,productName,cate,cateEn,price,saveFileName) 
	values (#{imageIndex},#{productName},#{cate},#{cateEn},#{price},#{saveFileName})
</insert>

<!--
<select id="maxNum" resultType="int"> 
select nvl(max(eventIndex),0) from diningroom 
</select>
 -->
 
<select id="getDataCount" resultType="int"> 
	select nvl(count(*),0) from diningroom 
</select>

 <!-- 전체목록 -->
<select id="getLists" resultType="com.funi.domain.FurnitureDTO"> 
	select * from diningroom order by imageIndex asc
</select>
 
 <!-- 카테고리별 목록 -->
<select id="getCateLists" parameterType="map" resultType="com.funi.domain.FurnitureDTO"> 
	select * from diningroom where cate=#{cate} order by imageIndex asc
</select>

<!-- 한개데이터출력 -->
<select id="getReadData" parameterType="map" resultType="com.funi.domain.FurnitureDTO"> 
	select * from diningroom where imageIndex=#{imageIndex} and cate=#{cate}
</select>

<!-- 
<update parameterType="com.exe.dto.EventDTO" id="updateEventData"> 
update event set eventTitle=#{eventTitle},day=#{day},time=#{time},location=#{location},price=#{price},content1=#{content1},content2=#{content2},savefileName=#{savefileName} 
where eventIndex=#{eventIndex} 
</update>

<delete parameterType="int" id="deleteEventData"> 
delete event where eventIndex=#{eventIndex} 
</delete>
 -->
</mapper>