

        <!-- Breadcrumb area Start -->
        <section class="page-title-area-2 bg-image" data-bg-image="assets/img/bg/blog-breadcrumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="sr-only">Blog Details</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="inner-page-content">
                <!-- Single Post Area Start -->
                <div class="single-post-area mb--75 mb-md--55">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <!-- Single Post Start -->
                                <article class="single-post mb--75 mb-md--55 pb--75 pb-md--55">
                                    <header class="single-post__header">
                                        <h2 class="single-post__title">Consult lorem Ipsum is simply dummy text of the printing and typesetting</h2>
                                        <div class="single-post__media">
                                            <div class="element-carousel" data-slick-options='{
                                                "slidesToShow": 1,
                                                "slidesToScroll": 1,
                                                "autoplay": true,
                                                "autoplaySpeed": 1500
                                            }'>
                                                <div class="item">
                                                    <img src="assets/img/blog/blog-07.jpg" alt="Blog Image" class="w-100">
                                                    <a href="blog-details-image.html" class="item-overlay"></a>
                                                </div> 
                                                <div class="item">
                                                    <img src="assets/img/blog/blog-08.jpg" alt="Blog Image" class="w-100">
                                                    <a href="blog-details-image.html" class="item-overlay"></a>
                                                </div> 
                                                <div class="item">
                                                    <img src="assets/img/blog/blog-09.jpg" alt="Blog Image" class="w-100">
                                                    <a href="blog-details-image.html" class="item-overlay"></a>
                                                </div>                 
                                            </div>
                                        </div>
                                        <div class="single-post__header-meta">
                                            <span class="posted-on">Date: 13 feb 2019</span>
                                            <span class="post-category">
                                                <a href="blog-details-image.html">Business</a>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="single-post__info">
                                        <div class="row mb--43 mb-md-33">
                                            <div class="col-lg-4 col-md-4 pl--45 pl-sm--15">
                                                <div class="single-post__meta">
                                                    <div class="posted-by">
                                                        <span class="byline">by</span>
                                                        <a href="blog-details-image.html">
                                                            <span>Robert Hutton,</span>
                                                            <span>Svenja O'Donnell</span>
                                                            <span>and Thomas Penny</span>
                                                        </a>
                                                    </div>
                                                    <div class="social">
                                                        <a href="https://www.facebook.com" class="social__link">
                                                            <i class="la la-facebook"></i>
                                                        </a>
                                                        <a href="https://www.twitter.com" class="social__link">
                                                            <i class="la la-twitter"></i>
                                                        </a>
                                                        <a href="https://www.plus.google.com" class="social__link">
                                                            <i class="la la-google-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <p>Lorem Ipsum is simply du of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy ever since the 1500s, when an unknown printer took a galley of type</p>
                                                <p>It is a long established fact that a reader will be distracted by the readable con a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-l normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                                            </div>
                                        </div>
                                        <div class="row mb--80">
                                            <div class="col-md-6 mb-sm--40">
                                                <figure>
                                                    <img src="assets/img/blog/blog-01.jpg" alt="blog details" class="w-100">
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <img src="assets/img/blog/blog-02.jpg" alt="blog details" class="w-100">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 offset-lg-3">
                                                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting</blockquote>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- Single Post End -->

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</main>
                
                <!-- Single Post Area End -->

                